*{
margin:0;
padding:0;
}
.about {
	margin:zero;
	padding:zero;
	overflow:hidden;
	background-color:black;
	list-style-type:none;
	
}
li{
	float:right;
}
a{
    text-decoration: none;
    color:white;
    display: block;
    font-size: 15px;
    padding: 18px 10px;
}
li a:hover{
    background-color: rgb(211,211,211);
	border-bottom:1px solid black;
	color:black;
}
#mylogo{
    position: relative;
    left:0px;
	width:60px;
	
}
span{
    position: relative;
    left: 0px;
}
.h3{
	display:block;
	
	margin:0px ;
	float:left;
	background-color:black;
	font-size: 20px;
    padding:11px 10px;
	text-align:center;
	color:white;
}
.rent{
	margin-left:350px;
}
h2{
	margin-left:350px;
}
h4{
	margin-left:350px;
}

	
p{
	margin-left:350px;
	
}
#pic{
	margin-left:50px;

}
*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
.footer-main-div{
	width:100%;
	height:auto;
	margin:auto;
	background:black;
	padding:2px 0px;
	position=fixed;
	
}
.footer-social-icons{
	width:100%;
	height:50px;
	margin:auto;
}
.footer-social-icons  ul{
	margin:0px;
	padding:0px;
	text-align:center;
	position=fixed;
}
.footer-social-icons  ul li{
	
	display:inline-block;
	width:50px;
	height:50px;
	margin:0px 10px;
	border-radius:100%;
	background-color:black;
}
.footer-social-icons  ul li a{
	color:272727;
	font-size:25px;
}
.footer-social-icons  ul li a i{
	line-height:10px;
	text-align:center;
}

.menue ul{
	margin:0px;
	padding:0px;
	
}
.menue ul li{
	display:inline-block;
	
}
.menue ul li a{
	font-weight:600;
color:#fff;

}
.para{
	color:white;
	float:left;
	margin-left:80px;
}






